body{
    font-family: Raleway , sans-serif; /* Pas de serif, Raleway = Les g sont ouverts */
    width: 1150px; /* 1150 px + 10 de bordure = 1160 px*/
    margin : 0 auto ; /* pour le centrage sur la page de navigateur */
    border-right: #2c1d27 10px solid; /* Bordure de droite */
    /*
    background-image: url('../images/maTete.png');
    background-repeat: no-repeat;
    background-size: 300px;
    background-attachment: fixed;
    */

}
section{
    display: flex;
}

h1{
    border: none;
    padding:15px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
h2{
    border: none;
    padding:15px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size:medium;
}
h3{
    color: black;
    background-color: #dbc2a4;
    text-indent: 20px;
    padding: 3px;
    /*font-weight: bold;*/
}
#maPhoto{
    border-radius: 50%;
    /*border : 10px solid black;*/
    box-shadow : 0px 0px 10px #2c1d27;
}
/* Mise en forme de style sur indication d'id */
#monHeader {
    /* display: flex;*/
    flex-direction: column;
    /*justify-content: space-around;*/
    /*align-content: space-around;*/
    /*justify-content: space-evenly;*/
    /*align-content: space-evenly;*/
    align-items: center;
    /*flex-basis: 33%;*/
    padding:15px 0px 15px 0px;
    margin: 0;
}
#mesCoordonnees{
    flex-direction:row;
    background-color: #2c1d27;
	max-width: 100%;
    font-family: "Lato", sans-serif; /* Pas de serif, Lato = les g sont fermés */
    padding: 15px;
}
/* Surcharges de style sur indication de classe */
.enItalique {
    font-style: italic;
}
.enGras {
    font-style: bold;
}
.writeInWhite
{
    color: white;
}
div{
    flex-basis: 33%;
}

header{
    background-color: #782221;
	max-width: 100%;
}
footer{
    display: flex;
    flex-direction:column;
    background-color: #782221;
    /*
    flex-wrap: wrap;
    align-content: center;
	max-width: 100%;
    */
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
    /* padding:15px 15px 15px 15px; */
    /* margin: 15px 15px 15px 15px; */
}

#partieCentrale{
    display: flex;
    flex-direction:row;
}
#partieCentraleGauche{
    display: flex;
    flex-direction:column;
}

#partieCentraleDroite{
    display: flex;
    flex-direction:column;
    flex-basis:auto;
}


